{
  'extends': 'eslint:recommended',
  'plugins': ['angular'],
  'env': {
    'browser': true,
    'jasmine': true
  },
  'globals': {
    'angular': true,
    'module': true,
    'inject': true,
    '_': true
  },
  'rules': {
    curly: [2, 'multi-line'],
    'quotes': [2, 'single'],
    'angular/document-service': 0,
  }
}
